<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="control.suppliers.mapper.delivery_calenderMapper">
  
  <!-- 운반자 개별 스케줄 캘린더 resultMaps -->
  <resultMap id="calendarResultMap" type="Calendar">
  	<id property="orderId" column="order_id" javaType="int"/>
  	<result property="transportId" column="transport_id"/>
  	<result property="deliveryDate" column="delivery_date"/>

  </resultMap>
	
	<select id="calendarList" resultMap="calendarResultMap">
		select * from calendar 
	</select>
	
</mapper>
