<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="control.suppliers.mapper.OrderMapper">

	<!-- 출하 등록 페이지 전체(OrderVO,OrderedProductDTO) insert -->
  	<insert id="orderIn">
	 	<selectKey keyProperty="order_id" order="BEFORE" resultType="int">
	 	select max(order_id)+1 order_id
	 	from `order`
	 	</selectKey>
	  INSERT INTO `order`(order_id, order_date, delivery_date, customer_id)
	  VALUES (#{order_id}, #{order_date}, #{delivery_date}, #{customer_id})
	</insert>
	
	<!-- 계약코드 조회 기능 -->
<!--     <select id="memorder_customer" resultType="control.suppliers.model.CustomerVO">
  	  	select *
  		from customer
  		where customer_id=#{customer_id}
  	</select> -->
  	  	<select id="customerList" resultType="control.suppliers.model.CustomerVO">
				select *
				from customer
				<if test="keyword != null">
					<choose>
						<otherwise>
						where customer_id like concat('%',#{keyword},'%')
						OR  name like concat('%',#{keyword},'%')
						OR  phone like concat('%',#{keyword},'%')
						OR  email like concat('%',#{keyword},'%')
						OR  hospital like concat('%',#{keyword},'%')
						OR  address like concat('%',#{keyword},'%')
						</otherwise>
					</choose>
			    </if>
			    order by customer_id desc
  	</select> 
  	
  	<!-- product 상품이름만 리스트 불러오기, 검색기능 -->
  	<select id="productList" resultType="control.suppliers.model.ProductVO">
				select *
				from product
				<if test="keyword != null">
					<choose>
						<otherwise>
						where product_id like concat('%',#{keyword},'%')
						OR  name like concat('%',#{keyword},'%')
						OR  code like concat('%',#{keyword},'%')
						OR  price like concat('%',#{keyword},'%')
						OR  tax like concat('%',#{keyword},'%')
						OR  count like concat('%',#{keyword},'%')
						</otherwise>
					</choose>
			    </if>
			    order by name desc
  	</select>
  		
<!--   	<select id="total" resultType="int">
  			select count(*) from product
  			<if test="keyword != null">
						
			<choose>
				<when test="type=='T'.toString()">
					 where name like concat('%',#{keyword},'%')
				</when>
				<otherwise>
					where name like concat('%',#{keyword},'%')
			      OR  product_id like concat('%',#{keyword},'%')
				</otherwise>
			
			</choose>

			</if>
  	</select> -->
  		
  		<!-- product 상품이름으로 상품정보 불러오기 -->
   	<select id="productDetail" resultType="control.suppliers.model.ProductVO">
  			select * from product
  			where name=#{name}
  	</select>  
  	
  	<!-- product 상품이름 불러오기, 검색기능 -->		
<!-- 	<select id="list" resultType="control.suppliers.model.ProductVO">
	SELECT *
    FROM product
    WHERE name LIKE CONCAT('%', #{name}, '%')
	</select> 
	
	product 상품이름 불러오기, 검색기능
 	<select id="list" resultType="control.suppliers.model.ProductVO">
	  select *
	  from product
	  <where>
	    <if test="keyword != null">
	      and name like concat('%', #{keyword}, '%')
	    </if>
	  </where>
	</select>  -->
	 
<!-- 	<select id="list" resultType="control.suppliers.model.ProductVO">
	  select *
	  from product
	  <where>
	    <if test="keyword != null">
	      and name like concat('%', #{keyword}, '%')
	    </if>
	  </where>
	  order by product_id
	</select>
	
	<select id="total" resultType="int">
	  select count(*)
	  from product
	  <where>
	    <if test="keyword != null">
	      and name like concat('%', #{keyword}, '%')
	    </if>
	  </where>
	</select> -->

 


  		
	
	
 
</mapper>