@charset "UTF-8";
ul, ol{
	padding:0;
}
li{
	list-style:none;
}
.mapNode {
    position: absolute;
    background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/sign-info-64.png);
    cursor: pointer;
    width: 64px;
    height: 64px;
}

.mapTooltip {
    background-color: #fff;
    position: absolute;
    border: 2px solid #333;
    font-size: 25px;
    font-weight: bold;
    padding: 3px 5px 0;
    left: 65px;
    top: 14px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
}

.mapTracker {
    position: absolute;
    margin: -35px 0 0 -30px;
    display: none;
    cursor: pointer;
    z-index: 3;
}

.mapIcon {
    position: absolute;
    left: 6px;
    top: 9px;
    width: 48px;
    height: 48px;
    background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/sign-info-48.png);
}

.mapBalloon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/balloon.png);
    -ms-transform-origin: 50% 34px;
    -webkit-transform-origin: 50% 34px;
    transform-origin: 50% 34px;
}

#carrierListBox{
	margin:0 auto;
	overflow-y: auto;
	padding:10px 5px;
}

#carrierList > li{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 6px 0 6px 10px;
    height: 35px;
	font-size: 15px;
	margin-bottom: 3px;	
}

#order-number-column{
	white-space: nowrap;
}

#order-customer-column{
	white-space: nowrap;
}

#order-title-column{
	white-space: nowrap;
	max-width:900px;
}

#order-date-column{
	white-space: nowrap;
}

#order-state-column{
	white-space: nowrap;
}

.order-product{
	max-width:900px;
}








