@charset "UTF-8";

#main{
	min-height: calc(100vh - 10rem);
}

.shipment_order_date{
	margin: 10px;
}

.shipment_order_date_input{
    width: 110px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #000;
    padding-left: 5px;
}

.shipment_order_text{
	margin: 10px 10px 10px 10px;
}

.shipment_order_text_input{
	width: 150px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px #000;
    padding-left: 5px;
}

.shipment_order_botton{
	display:flex;
	justify-content: center;
}

.shipment_order_canclebnt{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #4492ff;
    border: none;
    margin: 5px 15px 5px 15px;
}

.shipment_order_canclebnt:hover{
    background: #356dff;
}

.shipment_order_registerbnt{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #4492ff;
    border: none;
    margin: 5px 15px 5px 15px;
}

.shipment_order_registerbnt:hover{
    background: #356dff;
}

.shipment_order_table_box{
	height: 500px;
    overflow-y: scroll;
    border: solid 1px #dee2e6;
    clear: both;
	}

tbody td div {
  padding: .5rem 0.5rem;
}

.shipment_order_sum{
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

.order_morebnt{
	
	
}

.order_showOption{
	display: flex;
	align-items: center;
}

.showOptionbnt{
	width: 20px;
	height: 20px;
    border-radius: 5px;
    background-color:#4492ff;
    border:2px solid #4492ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#optionWindow {
    display: none;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin-top: 40px;
    background-color: #fff;
    z-index: 9999;
}

/* .optionItem {
      margin-bottom: 5px;
} */

.product_order_option_search{
	width: 200px;
}

.product_order_option_searchbnt{
	font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 10px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #4492ff;
    border: none;
    /* margin: 5px 15px 5px 15px; */
}

.product_order_option_searchbnt:hover{
    background: #356dff;
}

label{
    display: flex;
    align-items: center;
}

/* input 숨겨준다 */
input#productA{
  display:none;
  }

input#productA + label{
  cursor:pointer;
 }

input#productA + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input#productA + label:before{
  content:"+";
  display:inline-block;
  width:17px;
  height:17px;
  background-color:#4492ff;
  border:2px solid #4492ff;
  border-radius: 4px;
  vertical-align:middle;
  color: #fff;
/*   font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#productA:checked + label:before{
  content:"";
  background-color:#4492ff;
  border-color:#4492ff;
  background-image: url('check.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  }
  
  /* input 숨겨준다 */
input#productB{
  display:none;
  }

input#productB + label{
  cursor:pointer;
 }

input#productB + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input#productB + label:before{
  content:"+";
  display:inline-block;
  width:17px;
  height:17px;
  background-color:#4492ff;
  border:2px solid #4492ff;
  border-radius: 4px;
  vertical-align:middle;
  color: #fff;
/*   font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#productB:checked + label:before{
  content:"";
  background-color:#4492ff;
  border-color:#4492ff;
  background-image: url('check.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  }
  
    /* input 숨겨준다 */
input#productC{
  display:none;
  }

input#productC + label{
  cursor:pointer;
 }

input#productC + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input#productC + label:before{
  content:"+";
  display:inline-block;
  width:17px;
  height:17px;
  background-color:#4492ff;
  border:2px solid #4492ff;
  border-radius: 4px;
  vertical-align:middle;
  color: #fff;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#productC:checked + label:before{
  content:"";
  background-color:#4492ff;
  border-color:#4492ff;
  background-image: url('check.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  }

  